Cheetah==2.4.4
MySQL-python==1.2.3
PAM==0.4.2
Pillow==2.3.0
PyAudio==0.2.7
PyBluez==0.18
PyOpenGL==3.0.2
PyYAML==5.4
Pygments==2.7.4
SecretStorage==2.0.0
Twisted-Core==13.2.0
Twisted-Web==13.2.0
VTK==5.8.0
actionlib==1.11.3
adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
argparse==1.2.1
bondpy==1.7.16
bzr==2.7.0dev1
camera-calibration==1.12.15
camera-calibration-parsers==1.11.10
camera-info-manager-py==0.2.3
catkin==0.6.16
catkin-pkg==0.2.10
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
configobj==4.7.2
cv-bridge==1.11.11
cwiid==0.6.00
debtagshw==0.1
defer==1.0.6
diagnostic-analysis==1.8.8
diagnostic-common-diagnostics==1.8.8
diagnostic-updater==1.8.8
dirspec==13.10
docutils==0.11
duplicity==0.6.23
dynamic-reconfigure==1.5.38
empy==3.1
gazebo-plugins==2.4.9
gazebo-ros==2.4.9
gencpp==0.5.3
genlisp==0.4.15
genmsg==0.5.6
genpy==0.5.7
gyp==0.1
html5lib==0.999
httplib2==0.8
image-geometry==1.11.11
interactive-markers==1.11.1
keyring==3.5
laser-geometry==1.6.4
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
libvirt-python==1.2.2
lockfile==0.8
lxml==3.3.3
matplotlib==1.3.1
mecab-python==0.996
mercurial==2.8.2
message-filters==1.11.16
microsofttranslator==0.7
moveit-ros-planning-interface==0.7.0
moveit-ros-visualization==0.7.0
nao-apps==0.5.14
naoqi-driver-py==0.5.3
naoqi-pose==0.5.3
naoqi-sensors-py==0.5.3
netifaces==0.8
nose==1.3.1
numpy==1.8.2
oauth==1.0.1
oauthlib==0.6.1
oneconf==0.3.7.14.04.1
paramiko==1.10.1
pepper-sensors-py==0.1.7
pexpect==3.1
piston-mini-client==0.7.5
pluginlib==1.10.1
psutil==1.2.1
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pydot==1.0.28
pygobject==3.12.0
pygpgme==0.3
pymongo==2.6.3
pyparsing==2.0.1
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5ubuntu2
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-qt-binding==0.2.17
pytz==2012c
pyxdg==0.25
qt-dotgraph==0.2.29
qt-gui==0.2.29
qt-gui-cpp==0.2.29
qt-gui-py-common==0.2.29
reportlab==3.0
requests==2.2.1
resource-retriever==1.11.6
roman==2.0.0
rosbag==1.11.16
rosboost-cfg==1.11.11
rosclean==1.11.11
roscreate==1.11.11
rosdep==0.11.4
rosdistro==0.4.4
rosgraph==1.11.16
rosinstall==0.7.7
roslaunch==1.11.16
roslib==1.11.11
roslint==0.10.0
roslz4==1.11.16
rosmake==1.11.11
rosmaster==1.11.16
rosmsg==1.11.16
rosnode==1.11.16
rosparam==1.11.16
rospeex-core==2.14.6
rospeex-if==2.14.6
rospeex-webaudiomonitor==2.14.6
rospkg==1.0.38
rospy==1.11.16
rosservice==1.11.16
rostest==1.11.16
rostopic==1.11.16
rosunit==1.11.11
roswtf==1.11.16
rqt-action==0.3.12
rqt-bag==0.3.12
rqt-bag-plugins==0.3.12
rqt-console==0.3.12
rqt-dep==0.3.12
rqt-graph==0.3.12
rqt-gui==0.2.14
rqt-gui-py==0.2.14
rqt-image-view==0.3.12
rqt-launch==0.3.12
rqt-logger-level==0.3.12
rqt-moveit==0.4.2
rqt-msg==0.3.12
rqt-nav-view==0.4.2
rqt-plot==0.3.12
rqt-pose-view==0.4.2
rqt-publisher==0.3.12
rqt-py-common==0.3.12
rqt-py-console==0.3.12
rqt-reconfigure==0.3.12
rqt-robot-dashboard==0.4.2
rqt-robot-monitor==0.4.2
rqt-robot-steering==0.4.2
rqt-runtime-monitor==0.4.2
rqt-rviz==0.4.2
rqt-service-caller==0.3.12
rqt-shell==0.3.12
rqt-srv==0.3.12
rqt-tf-tree==0.4.2
rqt-top==0.3.12
rqt-topic==0.3.12
rqt-web==0.3.12
rviz==1.11.10
sensor-msgs==1.11.8
sessioninstaller==0.0.0
simplejson==3.3.1
six==1.5.2
smach==2.0.0
smach-ros==2.0.0
smclib==1.7.16
software-center-aptd-plugins==0.0.0
srdfdom==0.3.0
system-service==0.1.6
tf==1.11.7
tf-conversions==1.11.7
tf2-geometry-msgs==0.5.12
tf2-kdl==0.5.12
tf2-py==0.5.12
tf2-ros==0.5.12
tf2-sensor-msgs==0.5.12
tornado==3.1.1
unity-lens-photos==1.0
urdfdom-py==0.3.0
urlgrabber==3.9.1
urllib3==1.7.1
vcstools==0.1.38
virtinst==0.600.4
wadllib==1.3.2
warehouse-ros==0.8.8
wheel==0.24.0
wiimote==1.10.1
wsgiref==0.1.2
wstool==0.1.12
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xacro==1.9.5
xdiagnose==3.6.3build2
zope.interface==4.0.5
